<div class="login-container">
  <div
    class="left-half"
    [style.background-image]="'url(' + leftBackgroundImage + ')'"
  ></div>

  <div class="right-half">
    <div class="top-right-image">
      <img [src]="topRightImage" alt="Logo" />
    </div>

    <div class="form-container">
      <div class="logo-container">
        <img [src]="mainLogoImage" alt="App Logo" />
      </div>

      <h1 class="welcome-text">Welcome!</h1>

      <div class="input-container">
        <input
          type="text"
          class="input-field"
          placeholder="Username"
          [(ngModel)]="username"
          name="username"
        />
      </div>

      <div class="input-container">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          class="input-field"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
        />
        <button
          type="button"
          class="password-toggle"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
        >
          <i class="material-icons">{{
            hidePassword ? "visibility" : "visibility_off"
          }}</i>
        </button>
      </div>

      @if(!isLoading) {<button class="login-btn" (click)="onLogin()">
        Login</button
      >} @if(isLoading){<mat-spinner [diameter]="40"></mat-spinner>}
      <div class="forgot-password" (click)="goToRegister()">
        Don't have an account? Register here
      </div>
    </div>
  </div>
</div>
