<div class="reward-shop">
  <section>
    <h2 class="section-title">Your Rewards</h2>

    <button class="continue-button" (click)="goToBuyRewardList()">
      Redeem Reward 💰
    </button>
  </section>

  @if(isLoading) { <mat-spinner [diameter]="40"></mat-spinner>}

  <!-- Rewards Grid -->
  <div class="rewards-grid">
    @if(rewardItems.length > 0){
    <div
      *ngFor="let item of rewardItems; let i = index"
      class="reward-card"
      [ngStyle]="{ 'background-color': backgroundColor(i) }"
    >
      <div class="reward-icon">{{ item.icon }}</div>
      <h3 class="reward-name">{{ item.name }}</h3>
      <p class="reward-description">{{ item.description }}</p>
    </div>
    }
    @if(rewardItems.length === 0){
      <p class="empty">Nothing to show here, redeem rewards with your tokens 😊 </p>
    }
  </div>
</div>
