body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-custom-snackbar {
  background-color: #f7741d !important; /* Example color */
  color: white; /* Optional: Change text color */
}
